.btn{
    font-size: 16px;
    border-radius: 25px;
    background: #73AD21;
    width: 300px;
    height: 40px; 
}
.form{
    font-size: 20px;
    align-items: center;
   
}
.div{
    width: 320px;
    height:320px;
    margin: 22px 0;
    border: 12px;
    padding: 10px;
    align-items: center;
    border: 5px solid grey;
    display: block;
}
input{
    width: 100%;
}
label{
    position: relative;
}
#gender{
    width: 100%;
}
